table {
     border-collapse: collapse;
}

th, td {
     border-bottom: 1px solid #ddd;
     text-align: center;
     width:5em;
     height: 5em;
}

table, th, td {
    margin: 0 auto; /* or margin: 0 auto 0 auto */    
}